<!DOCTYPE html>
<html lang="en" ng-app="myTodoApp">
<head>
	<title>TheNetNinja Angular Playlist</title>
	<link href="css/styles.css" rel="stylesheet" type="text/css" />
	<script src="lib/angular.min.js"></script>
	<script src="lib/angular-route.min.js"></script>
	<script src="app.js"></script>
	<script type="text/javascript">
    if (window.location.hash && window.location.hash == '#_=_') {
        if (window.history && history.pushState) {
            window.history.pushState("", document.title, window.location.pathname);
        } else {
            // Prevent scrolling by storing the page's current scroll offset
            var scroll = {
                top: document.body.scrollTop,
                left: document.body.scrollLeft
            };
            window.location.hash = '';
            // Restore the scroll offset, should be flicker free
            document.body.scrollTop = scroll.top;
            document.body.scrollLeft = scroll.left;
        }
    }
	</script>
</head>

<body>
	<div id="menu-bar">
		<h1>Task Tracker</h1>
		<ul>
			<li><a href="/logout">Logout</a></li>
		</ul>
	</div>
	<div class="content">
	<div ng-controller="TodoController">
		<!--<button ng-click="order='name'">Order by Name</button>
		<button ng-click="order='belt'">Order by Belt</button>-->
		<!--<input type="text" ng-model="search" placeholder="Add Item"/>-->
		<h1>Welcome, {{user.name}}</h1>
		<form ng-submit="addTask()">
			<input type="text" placeholder="Task Details" ng-model="newtask.text" required/>
			<div style="width:100%">
				<input style="width:13%" type="number"  placeholder="Start Hour" ng-model="newtask.starthour" min="0" max="23" required/>
				<input style="width:13%" type="number"  placeholder="Start Minutes" ng-model="newtask.startmin" min="00" max="59" required/> to 
				<input style="width:13%" type="number"  placeholder="End Hour"  ng-model="newtask.endhour" min="0" max="23" required/>
				<input style="width:13%" type="number"  placeholder="End Minutes"  ng-model="newtask.endmin" min="00" max="59" required/>
			</div>
			
			
			<p>Total Time: {{ (newtask.endhour * 60 +newtask.endmin)  - (newtask.starthour * 60 +newtask.startmin)}} minutes</p>
			<input type="submit" value="Add new item"/>
		</form>
		<ul>
			<li ng-repeat="task in tasks">
				<div ng-hide="task.editing" ng-dblclick="editTask(task)">
					<h4 >{{task.text}}  </h4>
					<div class="remove" ng-click="removeTask(task)">X</div>
					<strong>Time:</strong> {{task.starthour}}:{{task.startmin}} -  {{task.endhour}}:{{task.endmin}} | 
					<strong> Date:</strong> {{task.date | date: "dd:mm:YYYY"}}
					<hr/>
				</div>
				<!--Individual Element Editing-->
				<!--First only for task name-->
				<div ng-show="task.editing">
					<input type="text" autofocus ng-blur="editedText(task)" ng-model="task.text">
					<input style="width:13%" type="number" autofocus ng-blur="editedText(task)" ng-model="task.starthour" min="0" max="23" required/>
					<input style="width:13%" type="number" autofocus ng-blur="editedText(task)" ng-model="task.startmin" min="00" max="59" required/> to 
					<input style="width:13%" type="number" autofocus ng-blur="editedText(task)" ng-model="task.endhour" min="0" max="23" required/>
					<input style="width:13%" type="number" autofocus ng-blur="editedText(task)" ng-model="task.endmin" min="00" max="59" required/>
				</div>
			</li>
		</ul>
		<ul>
			<li ng-repeat="task in historytasks | orderBy: '-date'">
				<div>
					<h4 >{{task.text}}  </h4>
					<strong>Time:</strong> {{task.starthour}}:{{task.startmin}} -  {{task.endhour}}:{{task.endmin}} | 
					<strong> Date:</strong> {{task.date | date: "dd:mm:YYYY"}}
					<hr/>
				</div>
			</li>
		</ul>
		
	</div>
</div>
</body>

</html>